
:root {
    --primary-color: #00b383;
    --primary-color-dark: #009970;
    --text-dark: #333333;
    --text-light: #767268;
    --white: #ffffff;
    --max-width: 100%;
    --header-font: "Bebas Neue", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact {
    width: 100%;
    overflow: hidden;
    background-color: var(--white);
}

.contact .contact-container {
    height: 100vh;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.contact .contact-container>div {
    grid-column: 1/2;
    grid-row: 1/2;
}

.left {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    background-color: var(--white);
    padding: 65px 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    z-index: 3;
}

.contact-heading h1 {
    font-weight: 600;
    color: var(--text-dark);
    font-size: 3.5rem;
    line-height: 0.9;
    white-space: nowrap;
    margin-bottom: 1.2rem;
}

.contact-heading h1 span {
    color: var(--primary-color-dark);
}

.text {
    color: var(--text-dark);
    line-height: 1.1;
    font-size: 1rem;
}

.text a {
    color: var(--text-dark);
    transition: 0.3s;
}

.text a:hover {
    color: var(--text-light);
    transition: 0.3s;
}

.form-wrapper {
    max-width: 32rem;

}

.contact-form {
    display: grid;
    margin-top: 2.55rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
}

.input-wrap.w-100 {
    grid-column: span 2;
}

.contact-input {
    width: 100%;
    background-color: rgba(58, 139, 118, 0.3);
   
    padding: 1.5rem 1.35rem 0.75rem 1.35rem;
    border: 2px solid transparent;
    outline: none;
    font-family: inherit;
    border-radius: 20px;
    color: var(--text-dark);
    font-weight: 600;
    font-size: 0.95rem;
    box-shadow: 0 0 0 0px rgba(0, 153, 112, 0.2);
    transition: 0.3s;
}

.contact-input:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.contact-input:focus {
    border: 2px solid var(--primary-color-dark);
   
    box-shadow: 0 0 5px 3px rgba(0, 153, 112, 0.3);
}

.input-wrap {
    position: relative;
}

.input-wrap label {
    position: absolute;
    top: 50%;
    left: 1.35rem;
    transform: translateY(-50%);
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.25s;
}

.contact-input:focus~label,
.contact-input:not(:placeholder-shown)~label {
    font-size: 0.66rem;
    top: 0.75rem;
    color: var(--primary-color-dark);
   
    transform: translateY(0);
}

.contact-input:focus~label,
.contact-input:not(:placeholder-shown)~label,
.contact-input:focus~.icon {
    font-size: 0.66rem;
    top: 0.75rem;
    color: var(--primary-color-dark);
   
    transform: translateY(0);
}

textarea.contact-input {
    resize: none;
    min-height: 150px;
}


.contact-buttons{
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    width: 100%;
    grid-column: span 2;
}

.input-wrap .icon {
    position: absolute;
    top: 50%;
    right: 1.35rem;
    transform: translateY(-50%);
    color: var(--text-dark);
    font-size: 1.25rem;
    pointer-events: none;
    transition: 0.3s;
}

.btn {
    display: inline-block;
    padding: 1.1rem 2rem;
    background-color: var(--primary-color-dark);
    border: none;
    border-radius: 40px;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    color: var(--white);
}

.btn:hover {
    background-color: #009970;
}


.right {
    display: flex;
   
    justify-content: center;
   
    align-items: center;
   
    width: 50%;
   
    height: 100vh;
   
    position: absolute;
   
    right: 0;
   
    top: 90px;
   
    overflow: hidden;
    background-image: url('/assets/landbgaero.png');
   
    background-repeat: no-repeat;
    background-position: center;
   
    background-size: cover;
   
    z-index: 5;
}

.image-container img {
    max-width: 90%;
   
    height: auto;
   
}